h2 {
  background: linear-gradient(180deg, #243b55, #141e30);
}
.addBtn {
  background: linear-gradient(270deg, #1d2671, #c33764);
  color: white;
  width: 8em;
  cursor: pointer;
}
.addBtn:hover {
  color: white;
}
.todoList {
  margin-top: 3em;
}
.task {
  width: 80%;
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.checkbox {
  cursor: pointer;
}
.text {
  width: 90%;
  text-align: left;
  font-weight: 500;
  word-wrap: break-word;
}
.deleteBtn {
  cursor: pointer;
}
.clearBtn {
  color: white;
  background: red;
  width: 8em;
  border: none;
  text-align: center;
  cursor: pointer;
}
.clearBtn:hover {
  color: white;
  background: red;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .input {
    padding: 0.5em;
  }
  .task {
    width: 100%;
  }
  .text {
    width: 80%;
    word-wrap: break-word;
  }
}